html{
    font-size: 16px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* VARIABLES */
:root{
    /* colores */
    --color_verdeBase: #59d9b5;
    --color_verdeOscuro: #01402e;
    --color_verdeClaro: #b3f2e0;
    --color_verdeMuyClaro: #d0f2e9;
    --color_grisFondo: #FAFCFE;

    /* Margenes */
    --margen_paddingGeneral: 30px;
    --margen_paddingBotones: 8px 10px;
    --margen_separacionSections: 80px;

    /* Fuentes */
    --fuente_Base: Arial;
    --fuente_BaseTamanyo: 1rem;
    --fuente_H1: 2rem;
    --fuente_H2: 1.5rem;
    --fuente_H3: 1.3rem;
    --fuenteBotones: var(--fuente_H3);
    --fuente_parrado: var(--fuente_BaseTamanyo);

}

/* ****************************************** */
/* ****************************************** */

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 50vw;
}

input{
    display: none;
}

label{
    position: absolute;
    top: var(--margen_paddingGeneral);
    left: var(--margen_paddingGeneral);
    z-index: 5;
}

ul.desplegable{
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: var(--color_verdeBase);
    list-style-type: none;
    padding: 23vh;
    font-family: var(--fuente_Base);
    font-size: var(--fuente_H3);
    color: var(--color_verdeOscuro);
}

input:checked ~ .desplegable{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

svg{
    width: 32px; 
}


